/* Base styles */
body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: #a3d5ab;
    line-height: 1.5;
}

h1, h2, h3 {
    color: black;
}

header {
    background-color: #31afa8;
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    align-items: center;
    border-bottom: 3px solid #f4f4f4;
    padding-left: 1em;
    padding-right: 1em;
}

section {
    margin: 1rem;
    padding: 1rem;
    background: #e7f0c4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

/* Nav styles */
nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
}

.menu_icon {
    display: none;
    font-size: 40px;
    cursor: pointer;
}

/* Button styles */
button {
    background-color: #31afa8;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 0.5rem;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #28a496;
}

/* Footer styles */
footer {
    background-color: #31afa8;
    color: #ffffff;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1em;
    border-top: 3px solid #f4f4f4;
}

footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer div {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}


/* Home Page */
#introduction, .filter, .item_box {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#main p {
    font-size: 1.2rem;
}

#introduction article, .filter, .item {
    flex: 1;
    min-width: 300px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    padding: 10px;
    border-radius: 8px;
    background: #e7f0c4;
}

/* Fitness & Food Page */
.left_col {
    display: flex;
    flex-direction: column;
}

.right_col {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.3rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .menu_icon {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid #ddd;
    }

    #menu_toggle:checked + .menu_icon + .menu {
        display: flex;
    }

    img {
        max-width: 50%;
        height: auto;
        padding: 0.5rem;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #main{
        padding-top: 2rem;
        padding-bottom: 8rem;
        background-image: url('../public/img/home.jpg');
        background-size: cover;
    }

    #main h1, #main h2, #main p, #food_filter_box h1, #workout_filter_box h1 {
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 16px rgba(0, 0, 0, 1.5);
        color: #edebeb;
    }

    #food_filter_box {
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #e7f0c4), url('../public/img/restaurant.jpg');
        background-size: cover;
    }

    #workout_filter_box {
        background-image: linear-gradient(to bottom, rgba(255,255,255,0), #e7f0c4), url('../public/img/gym.jpg');
        background-size: cover;
    }

    img {
        max-width: 50%;
        max-height: auto;
        padding: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .menu {
        display: flex;
    }

    article {
        display: flex;
    }

    img {
        max-width: auto;
        max-height: auto;
        padding: 0.5rem;
    }

    .add_page {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .left_col {
        grid-column: 1 / 2;
    }

    .right_col, aside {
        grid-column: 2 / 3;
    }
}